<% content_for :title do %>
  <%= title %>
<% end %>

<% content_for :welcome do %>
    <%= do_welcome %>
  <% end %>
  
<h2>Weather Station Updates</h2>
<% if @blogs && @blogs.size > 0 %>
  <% for blog in @blogs do %>
    <p style="font-weight:bold"><%= blog.date %></p>
    <p><%= blog.content %></p>
    <div class="fineline"></div>
  <% end %>
<% else %>
  <p>No news has been posted</p>
<% end %>