<% @title="Grid-Interpolated Daily Temperatures"%>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "grid_map.png",{:width => "231", :height => "180", :alt => "Gridded Map"} %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<p>By interpolating daily temperature and humidity observations at airports, we can offer gridded temperatures (in degrees Celsius) and water vapor pressures across the region.</p>

<%= render partial: "partials/grid_selector" %>
