<% content_for :welcome do %>
<h2>Soil Science / King Hall</h2>
<% end %>
<h2>Home of Soils</h2>
<p>The Soil Sciences/King Hall building has an interesting history, with architecture to match. The tower was once the site of F.H. King's agricultural wind-power experiments around the turn of the 20th century. Some of the old machinery is still in the tower. Access is restricted, but we whose duties require us to climb up there can report that it commands a wonderful view of the lake and the campus.
</p>

<p>You can see a little of the tower in this photo of the building's face -- look in the upper right corner of the picture. In fact, you can just make out the webcam's white all-weather enclosure peeking out of one of the ports in the turrent.
</p>
<%= image_tag "king_hall_front.jpg", title: "King Hall", width: 800 %>
<p>It's much easier to see in this closeup.</p>
<%= image_tag 'webcam_closeup.jpg', width: 800 %>
<p>The tower's overall architecture shows up more clearly in this picture of the back side of the building.</p>

<%= image_tag "king_hall_back.jpg", title: "King Hall (viewed from south)", width: 800 %>