<% title = "Webcam Archive for #{@start_date}"%>
<% content_for :title do %>
  <%= title %>
<% end %>

<% content_for :welcome do %>
  <h2><%= title %></h2>
  
  <%= image_tag 'p1344.gif', size: '231x169' %>
<% end %>

<table>
  <tr>
  <% col = 0 %>
  <% @thumbs.zip(@fulls) do |thumb,full| %>
    <td><%= webcam_archive_link(thumb,full).html_safe %></td>
    <% col += 1 %>
    <% if col > 4 %>
      </tr><tr>
      <% col = 0 %>
    <% end %>
  <% end %>
    
  </tr>
</table>