
<h4>Webapps:</h4>
<table>
  <tr>
    <% for (key, params) in @apps %>
      <td id="<%= key %>"><%= result_span(key,params[:status]).html_safe %></td>
    <% end %>
  </tr>
</table>
<% if (params = @apps['RRAF Map Tile']) %>
  <img src='<%="data:image/png;base64,#{params[:result].html_safe}"%>'/>
<% end %>

