<% title = 'Cranberry Crop Development' %>

<% content_for :welcome do %>
  <h2><%= title %></h2>
  <%= image_tag 'Cranb.Harvest-2.jpeg', width: 231 %>
<% end %>

<H2>Cranberry Crop Development</H2>
<H4>Introduction</H4>
<p>Thermal time (degree-day) totals help anticipate development of the cranberry 
crop.  Degree-days are calculated using the Sine method, with 
a starting date of March 1 and a base temperature of 41 degrees F.
</p>
 
<%= image_tag "ddgifs/WIMNDDSine41_60.png", title: "Yesterday's DD map of cranberry phenology" %>
<p><%= link_to "In Black and White", image_path("ddgifs/WIMNDDSine41_60_bw.png") %></p>
