<% @title='Seedcorn Maggot'%>
<% content_for :title do %>
  <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "seedcornmaggot.jpg",{:width => "231", :height => "150", :alt => "Seedcorn Maggot"} %><br/>
  <p style="font-size:xx-small">Photo from UW-Madison, Sarah Schramm</p>
  <h2><%= @title %></h2>
  
<% end %>

<center>
  <%= ddgif_image_link "WIMNDDSine39_1.png", "Yesterday's Sine 39 Seedcorn Maggot DD Map" %>
</center> 
 <% ddgif_url 'Download the Image in Black and White', "WIMNDDSine39_1_bw.png" %>
<p/>
<div class="fineline"/></div>

<p>
  Seedcorn maggot (SCM) is a soil insect pest of soybean, corn and many vegetable crops. SCM overwinters as a pupa in the soil. Adult flies emerge in spring after the ground has thawed and sufficient heat units, or degree-days, have accumulated for SCM to reach the adult stage. SCM flies lay eggs in freshly plowed fields with decaying green plant material associated with spring cover crop incorporation or weed tillage. Animal manure applied to fields in spring can also attract SCM flies. Eggs hatch within 2 to 4 days and larvae feed belowground on seeds and germinating seedlings. There are three generations per year in Wisconsin and the Upper Midwestern U.S.</font></font></font>
</p>
<p>
  Seedcorn maggot development can be estimated using a base 39F (3.9C) degree-day calculation. For this pest the degree-day summation is started January 1st. Critical values for SCM are listed in the table below (data from Sanborn et al. 1982 and Funderburk et al. 1984).</font></font></font>
</p>
<p>
  By calculating SCM degree days, growers can avoid planting field corn, soybean, and later crops such as sweet corn or vegetables during peak adult emergence when risk of SCM damage to untreated seeds is highest (Table 1).</font></font></font>
</p>
<h3 style="font-size:large">Table 1</h3>
<p>
  Seasonal accumulation of seedcorn maggot degree-days from January 1st biofix date to adult emergence peaks (50% emergence) for first, second and third generation flies.</font></font></font>
</p>
<table width="600" border="0" cellpadding="2" cellspacing="0">
  <col width="36%">
  <col width="19%">
  <col width="22%">
  <col width="20%">
  <tr>
    <td width="36%">
      <p style="widows: 0; orphans: 0">
        &nbsp;</font>
      </p>
    </td>
    <td width="19%">
      <p style="widows: 0; orphans: 0">
        <b>First Generation</b></font></font></font>
      </p>
    </td>
    <td width="22%">
      <p style="widows: 0; orphans: 0">
        <b>Second Generation</b></font></font></font>
      </p>
    </td>
    <td width="20%">
      <p align="center" style="widows: 0; orphans: 0">
        <b>Third Generation</b></font></font></font>
      </p>
    </td>
  </tr>
  <tr>
    <td width="36%">
      <p style="widows: 0; orphans: 0">
        <b>Fahrenheit Degree Days (FDD)</b></font></font></font>
      </p>
    </td>
    <td width="19%">
      <p align="center" style="widows: 0; orphans: 0">
        360</font></font></font>
      </p>
    </td>
    <td width="22%">
      <p align="center" style="widows: 0; orphans: 0">
        1,080</font></font></font>
      </p>
    </td>
    <td width="20%">
      <p align="center" style="widows: 0; orphans: 0">
        1,800</font></font></font>
      </p>
    </td>
  </tr>
  <tr>
    <td width="36%">
      <p style="widows: 0; orphans: 0">
        <b>Celsius Degree Days (CDD)</b></font></font></font>
      </p>
    </td>
    <td width="19%">
      <p align="center" style="widows: 0; orphans: 0">
        200</font></font></font>
      </p>
    </td>
    <td width="22%">
      <p align="center" style="widows: 0; orphans: 0">
        600</font></font></font>
      </p>
    </td>
    <td width="20%">
      <p align="center" style="widows: 0; orphans: 0">
        1,000</font></font></font>
      </p>
    </td>
  </tr>
</table>
<p>
  <br>
  <br>
</p>
<p>
  From the date of first-generation peak adult emergence, an additional 450 FDD (250 CDD) can be accumulated to estimate when first generation larvae will enter the pupal stage. The egg stage requires 54 FDD (30 CDD) and the three larval stages require 367 FDD (204 CDD). In addition, a minimum of 65 FDD (36 DCC) is required between adult emergence and egg laying. Therefore, approximately 450 FDD (250 CDD) after peak adult emergence, developing SCM larvae should have reached the pupal stage, further minimizing the risk of injury to developing seeds. For field corn and soybean, this represents a seasonal accumulation, from January 1st, of 846 FDD (470 CDD).</font></font></font>
</p>
<p>
  <i>-- Eileen Cullen, Extension Entomologist</i></font></font></font>
</p>
<p>For more information, refer to UW Cooperative Extension <a href="http://learningstore.uwex.edu/Insect-IPM-in-Organic-Field-Crops-Seedcorn-Maggot-P1584.aspx">publication A-3972-01</a>, <i>Insect IPM in Organic Field Crops: Seedcorn Maggot</i></p>
<p style="margin-bottom: 0.13in; widows: 0; orphans: 0">
  Funderburk, J. E., L. G. Higley and L. P. Pedigo. 1984. Seedcorn maggot (Diptera: Anthomyiidae) phenology in central Iowa and examination of a thermal-unit system to predict development under field conditions. Environ. Entomol. 13: 105-109.</font></font></font>
</p>
<p style="margin-bottom: 0in">
  Sanborn, S. M., J. A. Wyman, and R. K. Chapman. 1982. Threshold temperature and heat unit summations for seedcorn maggot development under controlled conditions. Ann. Ent. Soc. Amer. 75: 103-106</font></font></font>
</p>