html, body, ul, li, h1, h2, h3, h4 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #544e38;
}
img {
	border: 0px;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
.left {
	float: left;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}

body {
	background: url(asset-path('background.png'));
	text-align: center;
	font: 11px verdana, arial, sans-serif;
}

#wrapper {
	text-align: left;
	margin: auto;
	width: 1128px; /* 1128px; */
}

#body {
	background: url(asset-path('body_bg.png')) repeat-y;
	color: white;
	width: 100%;
}
#body-top {
	background: top left url(asset-path('body_top.png')) no-repeat;
	position: relative;
}
#body-bot {
	background: bottom left url(asset-path('body_bot.png')) no-repeat;
	padding-bottom: 17px;
}
#body-top-2 {
	position: absolute;
	top: 12px;
	left: 251px;
	width: 903px;
	height: 11px;
	background: top left url(asset-path('body_top_2.png')) no-repeat;
}

#wrapper {
	position: relative;
	padding-top: 68px;
}
h1 {
	position: absolute;
	top: 36px;
	left: 13px;
	font-size:2.1em;
	color:#3f3c2d;
	font-variant: small-caps;
	font-family: Arial, Helvetica, sans-serif;
}
#nav {
	position: absolute;
	top: 43px;
	left: 360px;
	
}
#nav  a {
	background-image: url(asset-path('menu_unselected.png'));
	width:120px;
	height:19px;
	display:inline;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align:center;
	padding-top:6px;
	margin-right: 1px;
	text-decoration:none;
	color:#e9e4d0;
	font-weight:bolder;
}
#nav  a:hover {
	color:#544e38;
}

#nav a[selected=yes] {
  background-image: url(asset-path('menu.png'));
}

#body-bot {
	padding-top: 12px;
}
#welcome {
	float: left;
/*	width: 120px;*/
	width: 231px;
	padding-left: 13px;
	
}
#welcome a {
	color: #F2F7F8;
}
#welcome a:hover {
	color: #CFCCBF;
}
#welcome h2 {
	text-align: center;
	margin: 11px;
	color:#ceb085;
	font-size:24px;
}
#welcome p {
	margin: 0px 19px;
}
#welcome .more {
	margin-top: 18px;
	margin-bottom: 10px;
}

#content {
	float: right;
	width: 831px;
	height: 750px;
	padding-right: 34px;
	padding-top: 23px;
	color: #686454;
	overflow:auto;
}
#content .left {
	margin-right: 10px;
}
#content a {
	color: #5A5644;
}
#content a:hover {
	color: #26241A;
}

#intro {
	margin: 12px;
}

.fineline {
	border-bottom: 1px solid #D3CAA9;
	margin-bottom: 12px;
}

.bar-lit {
	padding-left: 6px;
	background: 0px 4px url(asset-path('bar_lit.gif')) no-repeat;
}
.bar-drk {
	padding-left: 6px;
	background: 0px 4px url(asset-path('bar_drk.gif')) no-repeat;
}

#footer {
	font: 11px arial, sans-serif;
	color: #4E4A3A;
	text-align: right;
	padding-right: 47px;
}
#footer p {
	margin-top: 0.5em;
}
table {
  border-collapse: collapse;
}
