<% @title = "East US Insolation"%>

<% content_for :title do %>
  <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "equinox_090922_ladanyi.jpg",{:width => "231", :height => "156", :alt => "Sun"} %>
  <h2><%= @title %></h2>
  <p>UW Space Sciences' model provides excellent insolation estimates during most of the year (snow cover
    looks like clouds to the satellite).</p>
<% end %>

<h2><%= @title %> (click to enlarge)</h2>

<P>
<CENTER>
  <a href="http://alfi.soils.wisc.edu/uwex_agwx_data/insol/EAST/yestEASTinsol.gif">
    <IMG SRC="http://alfi.soils.wisc.edu/uwex_agwx_data/insol/EAST/yestEASTinsol.gif"
      ALT="Yesterday's Solar Insolation in the Eastern U.S." height="640" width="480"/> 
  </a>
</CENTER> 
<P> 
<a href="http://alfi.soils.wisc.edu/uwex_agwx_data/insol/EAST/yestEASTinsol.asc"> 
Download the Data in ASCII Format</a><br>
<p></UL>
  <CENTER>
  <H4>For previous days, access the archive <a name="previous" href="http://alfi.soils.wisc.edu/cgi-bin/asig/InsolAccessPage.rb?reportType=EAST#today">here</a>)</H4>

  </H4>
  
