<% @title = "Regions" %>
<% content_for :title do
    @title
   end %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Maintain the list of regions.</p>
<% end %>

<h2><%= @title %></h2>
<%= render 'form' %>

<%= link_to 'Back', regions_path %>
