<% content_for :title do %>
  UW Soil Science Weather/Modeling: About Us
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "pic_1.jpg", {:width => "231", :height=>"301", :alt=>"Soil Science/King Hall"}  %>
  <h2>About Our Group</h2>
  <p>Faculty and staff at the UW Soil Science department in Madison maintain these pages.</p>
  <br/>
  <p><a href="http://soils.wisc.edu/extension" class="bar-drk">Soil Science Extension Website</a>
    <br/><a href="http://soils.wisc.edu/" class="bar-drk">Soil Science Website</a></p>
<% end %>

<!-- content for remainder of page -->


<h2>About Us / Contact</h2>
<p>These data are provided free of charge to any interested parties. Researchers and others -- everyone from
  homeowners to insurance agents -- have come up with a wide variety of uses for our products. Our primary mission, though,
  is to help growers maximize their yields, minimize their costs, and assist them wherever possible as responsible stewards of 
  our agricultural landscape.
</p>
<p>Many people have contributed to these products over the years. The people on the hot seat currently are:</p>
<div class="clear"></div>  
    <%= image_tag "blandweb.jpg", {:width=>"109", :height => "143",  :alt=>"Dr. Bill Bland", :class => "left"} %>
    <h2>Professor <a href="http://soils.wisc.edu/people/faculty/bland.php">Bill Bland</a></h2>
      <p>Bill's research informs the models you'll find on these pages.</p>
      <p>&nbsp;</p>
<div class="clear"></div>
<div class="fineline"></div>
    <%= image_tag "wayne-web.jpg", {:width=>"109", :height => "150",  :alt=>"Rick Wayne", :class => "left"}  %>
    <h2>Senior Systems Programmer <a href="http://soils.wisc.edu/people/staff/wayne.php">Rick Wayne</a></h2>
    <p>Rick is responsible for the day-to-day functioning of the site and its data feeds. </p>

<div class="clear"></div>